<div class=" card h-20 shadow-sm bg-light text-center align-items-center" style="border-radius: 15px;max-height: 400px">
  <div class="image position-relative" style="cursor: pointer">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" style="height: 220px;width: 290px" class="img-thumbnail border-0">
  </div>
  <div class="my-4 d-flex flex-column">
    <a class="text-decoration-none" routerLink="/catalog/{{product.id}}">
      <h6 class="text-uppercase">{{product.name}}</h6>
    </a>
    <span>{{product.price | currency}}</span>
  </div>
  <div class="d-flex my-3">
    <button (click)="addItemToBasket(product)" type="button" class="btn btn btn-outline-primary fa fa-shopping-cart mx-2"></button>
    <button type="button" routerLink="/catalog/{{product.id}}" class="btn btn btn-outline-primary">View</button>
  </div>
</div>
