.loader {
  position: absolute;
  width: auto;
  top: 20px;
  right: 40px;
  margin-top: 0;
}
.my-form-control {
  display: block;
  width: 100%;
  line-height: 3.5;
  color: black;
  background-color: aliceblue;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}
