<div class="container my-2">
  <div *ngIf="(basket$ | async)?.items?.length! <= 0 as basket">
    <p>There are no items in your basket</p>
  </div>

  <div *ngIf="(basket$ | async) as basket">
    <div class="my-2">
      <div class="container">
        <div class="row">
          <div class="col-12 my-2">
            <div class="table-responsive">
              <app-basket-summary
                (decrement)="decreaseItemCount($event)"
                (increment)="increaseItemCount($event)"
                (remove)="deleteItem($event)"
                [items]="(basket$ | async)?.items!"
              >
              </app-basket-summary>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals
            *ngIf="(basketTotals$ | async)"
            [shipping]="(basketTotals$ | async)?.shippingPrice!"
            [subtotal]="(basketTotals$ | async)?.subtotal!"
            [total]="(basketTotals$ | async)?.total!"
            >

            </app-order-totals>
            <a routerLink="/checkout" class="btn my-3 text-white" style="background-color: orange">
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

