<header class="p-1 bg-primary">
  <div class="d-flex align-items-center">
    <img src="assets/images/logo.png"
         [routerLink]="['/']"
         style="max-height: 80px;margin-left: 25px"
         alt="logo">
    <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center text-uppercase">
      <li><a [routerLink]="['/home']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}"
             class="nav-link px-2">Home</a>
      </li>
      <li><a [routerLink]="['/catalog']" routerLinkActive="active" class="nav-link px-2">Catalog</a></li>
      <li><a [routerLink]="['/contact-us']" routerLinkActive="active" class="nav-link px-2">Contact us</a></li>
      <li *ngIf="(currentUser$ | async) as user"><a *ngIf="user.role.includes('Admin')" [routerLink]="['/management']" routerLinkActive="active" class="nav-link px-2">Management</a></li>
    </ul>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search" class="form-control form-control-primary" placeholder="Search..."
             aria-label="Search">
    </form>
    <div class="d-flex align-items-center">
      <a routerLink="/basket" class="position-relative" style="margin-right: 25px">
        <i class="fa fa-shopping-cart fa-2x m-auto text-white"></i>
        <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
      </a>
      <ng-container *ngIf="(currentUser$ | async) === null">
        <button routerLink="/account/login" type="button" class="btn btn-outline-light me-2">Login</button>
        <button routerLink="/account/register" type="button" class="btn btn-outline-light sign-in-button" style="margin-right: 25px">Sign-up</button>
      </ng-container>
      <ng-container *ngIf="(currentUser$ | async) as user">
        <div class="dropdown mx-3" dropdown>
          <a class="dropdown-toggle" style="cursor: pointer;margin-right: 15px" dropdownToggle>
            <strong>Welcome, {{user.userName}}!</strong>
          </a>
          <div  class="dropdown-menu bg-light" style="cursor:pointer" *dropdownMenu>
            <a [routerLink]="['account/my-account']" class="dropdown-item align-items-center text-dark">
              <i class="fa fa-address-book mr-3">My Account</i>
            </a>
            <a [routerLink]="['/basket']" class="dropdown-item  align-items-center text-dark">
              <i class="fa fa-shopping-cart mr-3">View Basket</i>
            </a>
            <a [routerLink]="['/orders']" class="dropdown-item  align-items-center text-dark">
              <i  class="fa fa-history mr-3">View Orders</i>
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="logOut()" class="dropdown-item  align-items-center text-dark">
              <i class="fa fa-sign-out mr-3">LogOut</i>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</header>
