    <div class="row" style="margin-left: 25%;margin-top: 2%;align-items: center">
      <div class="col-7">
        <div class="form-container">
          <div class="left-content ">
            <h3 class="title">SneakerStore</h3>
            <h4 class="sub-title">The best for you</h4>
          </div>
          <div class="right-content col-6">
            <h3 class="form-title">Login</h3>
            <form class="form-horizontal"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <app-text-input style="width: 100%" [formControl]="$any(loginForm.controls['email'])" label="Email address"></app-text-input>              </div>
              <div class="form-group">
                <app-text-input [formControl]="$any(loginForm.controls['password'])"
                                [label]="'Password'"
                                [type]="'password'">
                </app-text-input>
              </div>
              <button [disabled]="loginForm.invalid" type="submit" class="btn signin">Login</button>
            </form>
            <span class="separator">OR</span>
            <ul class="social-links">
              <li><a href=""><i class="fa fa-google"></i> Login with Google</a></li>
              <li><a href=""><i class="fa fa-facebook-f"></i> Login with Facebook</a></li>
            </ul>
            <span class="signup-link">Don't have an account? Sign up <a href="">here</a></span>
          </div>
        </div>
      </div>
    </div>
