.form-checkout {
  width: 100%;
  min-width: 650px;
}

.form-address .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-control {
  width: 100%;
  line-height: 2.5;
  color: black;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

