<div class="row" *ngIf="product">
  <div class="col-6">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-50">
  </div>
  <div class="col-6 text-white">
    <h3>{{product.name}}</h3>
    <p>{{product.price | currency}}</p>
    <div class="d-flex justify-content-start align-items-center">
      <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em"></i>
      <span style="font-size: 1.5em;color: black">{{quantity}}</span>
      <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em"></i>
      <button (click)="addItemToBasket()" class="btn btn-outline-secondary btn-lg mx-2">Add to Cart</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 ml-3">
      {{product.description}}
    </div>
  </div>
</div>

