<div class="container py-4 my-4 mx-auto d-flex flex-column">
  <div class="header">
    <div class="row r1">
      <div class="col-md-9 abc">
        <h1>{{product.name}}</h1>
      </div>
      <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
      <p class="text-right para">Based on 250 Review</p>
    </div>
  </div>
  <div class="container-body mt-4">
    <div class="row r3">
      <div class="col-md-5 p-0 klo">
        <ul style="border-radius: 20px;padding: 10px;margin: 10px">
          <li>100% Quality</li>
          <li>Easy Returns</li>
          <li>12 Months Warranty</li>
          <li>EMI Starting from (On Credit Cards)</li>
          <li>COD Available (All Over India)</li>
          <li class="">*{{product.description}}</li>
        </ul>
      </div>
      <div class="col-md-7"> <img src="{{product.pictureUrl}}" width="60%" height="65%"> </div>
    </div>
  </div>
  <div class="footer d-flex flex-column">
    <div class="row r4">
      <div class="col-md-2 myt des"><a href="#">Description</a></div>
    </div>
  </div>
</div>
